.heading {
  width: 100%;
  height: 145vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.heading .left {
  width: 50%;
  position: relative;
}

.heading .left .img {
  width: 75%;
  height: 600px;
  position: absolute;
  top: 16%;
  left: 21%;
}

.heading .right {
  width: 50%;
  padding: 2rem;
  position: relative;
}

.heading .right .container {
  position: absolute;
  top: 26%;
}

.heading .right .container .main-title {
  width: 80%;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 4.37rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.heading .right .container .sub {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #948d98;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.heading .right .container .btn-header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 24px;
  padding: 14px 30px 15px 30px;
  background-color: #F0735D;
  border-radius: 50px;
  color: #fff;
  border: 0.05rem solid #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.heading .right .container .btn-header:hover {
  background-color: #fff;
  color: #F0735D;
  border: 0.05rem solid #F0735D;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heading .right .container .btn-header:focus {
  border: 0;
}

.heading .social-group {
  position: absolute;
  bottom: 13rem;
  right: 18%;
}

.heading .social-group .link {
  color: black;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 4px 7px;
  margin: 7px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0 0;
}

.navigation .main-menu {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.navigation .main-menu .item {
  padding: 15px;
}

.navigation .main-menu .item .link {
  text-decoration: none;
  color: #000000;
}

.navigation .btn-nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 24px;
  color: #F0735D;
  padding: 13px 25px 13px 25px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 0.10rem solid  #F0735D;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.foods {
  height: 90vh;
  margin: 0 100px 100px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foods .left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.foods .left .desc {
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #F0735D;
  margin: 0 0 16px 0;
}

.foods .left .title {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  margin: 10px 0 70px 0;
  height: auto;
}

.foods .left .item {
  margin: 20px 0 35px 0;
  position: relative;
}

.foods .left .item .pizza {
  width: 48px;
  height: 35px;
  margin: 0 0 15px 0;
}

.foods .left .item .description {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 0 30px;
  position: absolute;
  top: 10px;
}

.foods .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin: 0 100px 0 50px;
  font-weight: 700;
}

.foods .right .item {
  position: relative;
}

.foods .right .item .description {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 10px 0;
}

.foods .right .item .price {
  color: #F0735D;
  display: inline-block;
  margin: 0;
}

.foods .right .item .stars {
  width: 90px;
  position: absolute;
  top: 15.3rem;
  left: 3.5rem;
}

.our_story {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our_story .left {
  width: 50%;
  position: relative;
}

.our_story .left .story-img {
  position: absolute;
  top: 5rem;
  left: 9rem;
}

.our_story .right {
  width: 50%;
  padding: 0 6rem 0 0;
  margin: 0;
  position: relative;
}

.our_story .right .story-wrapper {
  position: absolute;
  top: 7rem;
  margin: 0 90px 0 10px;
}

.our_story .right .story-wrapper .story-title {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}

.our_story .right .story-wrapper .story-desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.6px;
  color: #393e64;
  margin: 0 31px 0 0;
}

.our_story .right .story-wrapper .story-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 24px;
  padding: 14px 30px 15px 30px;
  background-color: #F0735D;
  border-radius: 50px;
  color: #fff;
  border: 0.05rem solid #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 50px 0 0 0;
}

.our_story .right .story-wrapper .story-btn:hover {
  background-color: #fff;
  color: #F0735D;
  border: 0.05rem solid #F0735D;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our_story .right .story-wrapper .story-btn:focus {
  border: 0;
}

.our-recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-recipes .desc {
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #F0735D;
  margin: 0 0 16px 0;
}

.our-recipes .title {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  margin: 10px 0 70px 0;
  height: auto;
}

.our-recipes .recipes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our-recipes .recipes-wrapper .item {
  margin: 30px;
  position: relative;
}

.our-recipes .recipes-wrapper .item .recipes-img {
  width: 20rem;
}

.our-recipes .recipes-wrapper .item .recipes-description {
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}

.our-recipes .recipes-wrapper .item .price {
  color: #F0735D;
  display: inline;
  margin: 0;
  font-weight: 700;
}

.our-recipes .recipes-wrapper .item .stars {
  width: 90px;
  position: absolute;
  top: 20rem;
  left: 3.5rem;
}

.our-recipes .recipes-wrapper .item .recipe-btn {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 24px;
  padding: 12px 24px;
  background-color: #F0735D;
  border-radius: 50px;
  color: #fff;
  border: 0.05rem solid #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 20px 0 0 0;
}

.our-recipes .recipes-wrapper .item .recipe-btn:hover {
  background-color: #fff;
  color: #F0735D;
  border: 0.05rem solid #F0735D;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our-recipes .recipes-wrapper .item .recipe-btn:focus {
  border: 0;
}

.our-recipes .load-btn {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 50px;
  color: #F0735D;
  border: 0.05rem solid #F0735D;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 20px 0 20px 0;
}

.our-recipes .load-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.review .review-wrapper {
  width: 50%;
}

.review .review-wrapper .review-desc {
  color: #393e64;
  font-size: 15px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.4px;
}

.review .breakfast {
  width: 50%;
}

.review .salad {
  position: absolute;
  top: 20rem;
  left: -7.8rem;
}
/*# sourceMappingURL=style.css.map */