.footer {
    width: 100%;
    height: 60vh;
    display: flex;
    padding: 50px 0 0 0 ;
    position: relative;
    overflow: hidden;

    .right-col {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .wrapper {
            margin: 0;
            width: 40%;

            .desc {
                color: $secondColor;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }
        }

        .social-group {
            margin: 50px 0 0 0;

            @include social-media;
        }
    }

    .centered-col,
    .left-col {
        width: 20%;
        
        @include list-style;
    }

    .footer-img {
        position: absolute;
        right: -11rem;
        bottom: -10.5rem;   
    }
    
    @media screen and (max-width: 480px) {
        .right-col,
        .centered-col,
        .left-col {
            width: 100%;
        }

        .right-col {
            .wrapper {
                width: 80%;
                padding: 20px 10px;
            }
        }

        .centered-col,
        .left-col {
            .list {
               .list-wrapper {
                   display: flex;

                   .item {
                       margin: 0 25px 0 0;
                   }
               }
            }
        }

        .footer-img {
            bottom: -15rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
       flex-direction: column;
       height: 80vh;
    }
}