.heading {
    width: 100%;
    height: 145vh;
    display: flex;
    position: relative;

    .left {
        width: 50%;
        position: relative;

        .img {
            position: absolute;
            top: 12rem;
            left: 10rem;
        }
    }

    .right {
        width: 50%;
        padding: 2rem;
        position: relative;
        
        .container {
            position: absolute;
            top: 18rem;

            .main-title {
                width: 80%;
                font-family: $secondFont;
                font-weight: 600;
                font-size: 4.37rem;
                text-transform: capitalize;
            }

            .sub {
                width: 80%;
                font-family: $mainFont;
                color: $secondColor;
                margin-bottom: 2rem;
                line-height: 1.5rem;
            }

            .btn {
                padding: 15px 30px 15px 30px;
            }
            
            @include buttons;
        }
    }

    .social-group {
        position: absolute;
        bottom: 13rem;
        right: 18%;

        @include social-media;
    }
}



