.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0 0;

    .main-menu {
        font-family: $mainFont;
        font-weight: 600;
        text-transform: capitalize;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 25%;
        list-style-type: none;
        margin: 0;
        padding: 10px;

        .item {
            padding: 15px; 
    
            .link {
                text-decoration: none;
                color: $mainColor;
            }
        }        
    }

    .btn {
        padding: 13px 25px 13px 25px;
        text-transform: capitalize;
    }  

    @include light-button;
}
