.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0 0;

    .main-menu {
        font-family: $mainFont;
        font-weight: 600;
        text-transform: capitalize;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 25%;
        list-style-type: none;
        margin: 0;
        padding: 10px;

        .item {
            padding: 15px; 
    
            .link {
                text-decoration: none;
                color: #000000;
            }
        }        
    }

    .btn-nav {
        font-family: $mainFont;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 24px;
        color: #F0735D;
        padding: 13px 25px 13px 25px;
        background-color: #ffffff;
        border-radius: 50px;   
        border: 0.10rem solid  #F0735D;
        transition: all .5s;
    }  
}
