.our_story {
    height: 100vh;
    display: flex;

    .left {
        width: 50%;
        position: relative;
        
        .story-img {
            position: absolute;
            top: 5rem;
            left: 9rem;
        }
    }

    .right {
        width: 50%;
        padding: 0 6rem 0 0;
        margin: 0;
        position: relative;

        .story-wrapper {
            position: absolute;
            top: 7rem;
            margin: 0 90px 0 10px;
            
            .story-title {
                font-family: $secondFont;
                font-size: 50px;
                font-weight: 600;
                text-transform: capitalize;
            }

            .story-desc {
                font-size: 15px;
                font-weight: 400;
                line-height: 34px;
                letter-spacing: 0.6px;
                color: $mainColor;
                margin: 0 31px 0 0;
            }

            .story-btn {
                font-family: $mainFont;
                font-weight: 600;
                line-height: 24px;
                padding: 14px 30px 15px 30px;
                background-color: $thirdColor;
                border-radius: 50px;
                color: $lightColor;
                border: 0.05rem solid $lightColor;
                transition: all .5s;
                margin: 50px 0 0 0;

                &:hover {
                    background-color: $lightColor;
                    color: $thirdColor;
                    border: 0.05rem solid $thirdColor;
                    transform: scale(1.1);
                }

                &:focus {
                    border: 0;
                }
            }
        }        
    }
}