.review {
    height: 85vh;
    display: flex;
    position: relative;
    
    .review-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;      
        padding: 0 0 0 130px;
        justify-content: center;
        
        .review-desc {
            width: 95%;
            color: $mainColor;
            font-size: 15px;
            font-weight: 600;
            line-height: 34px;
            letter-spacing: 0.4px;
        }     
        
        .caption {
            display: flex;
            margin: 10px 0 0 0;
            

            .woman {
                width: 78px;
                height: 78px;
                margin: 0 20px 0 0;
            }

            .name {
                font-weight: 700;
                font-size: 17px;
                text-transform: capitalize;
                margin: 15px 0 8px 0;
                
            }

            .desc {
                color: $secondColor;
                font-size: 13px;
                text-transform: capitalize;
                font-weight: 400;
            }
        }
    }

    .breakfast {
        width: 50%;
    }

    .salad {
        position: absolute;
        bottom: -9rem;
        left: -7.8rem;
    }
}