.heading {
  width: 100%;
  height: 145vh;
  display: flex;
  position: relative;
}
.heading .left {
  width: 50%;
  position: relative;
}
.heading .left .img {
  position: absolute;
  top: 12rem;
  left: 10rem;
}
@media screen and (max-width: 480px) {
  .heading .left {
    display: none;
  }
}
.heading .right {
  width: 50%;
  padding: 2rem;
  position: relative;
}
.heading .right .container {
  position: absolute;
  top: 18rem;
}
.heading .right .container .main-title {
  width: 80%;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 4.37em;
  text-transform: capitalize;
}
@media screen and (max-width: 480px) {
  .heading .right .container .main-title {
    font-size: 3rem;
  }
}
.heading .right .container .sub {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  color: #808398;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.heading .right .container .btn {
  padding: 15px 30px 15px 30px;
}
.heading .right .container .btn {
  font-weight: 600;
  background-color: #F0735D;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.heading .right .container .btn:hover {
  background-color: #fff;
  color: #F0735D;
  border: 2px solid #F0735D;
  transform: scale(2px);
}
@media screen and (max-width: 480px) {
  .heading .right .container {
    top: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .heading .right {
    width: 100%;
  }
}
.heading .social-group {
  position: absolute;
  bottom: 13rem;
  right: 18%;
}
.heading .social-group .link {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 4px 7px;
  margin: 7px;
  transition: 0.2s ease-in-out;
}
.heading .social-group .link:hover {
  color: #fff;
  background-color: #000000;
}
@media screen and (max-width: 480px) {
  .heading .social-group {
    bottom: 10%;
    left: 9%;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    height: 90vh;
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 0 0;
}
.navigation .main-menu {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 25%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.navigation .main-menu .item {
  padding: 15px;
}
.navigation .main-menu .item .link {
  text-decoration: none;
  color: #000000;
}
.navigation .btn {
  padding: 13px 25px 13px 25px;
  text-transform: capitalize;
}
@media screen and (max-width: 480px) {
  .navigation .main-menu {
    display: none;
  }
  .navigation .btn {
    display: none;
  }
}
.navigation .btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50px;
  color: #F0735D;
  border: 2px solid #F0735D;
  transition: all 0.5s;
}
.navigation .btn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .navigation {
    justify-content: start;
    margin: 0 0 0 30px;
  }
}
.foods {
  height: 90vh;
  margin: 0 100px 100px 200px;
  display: flex;
}
.foods .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.foods .left .desc {
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #F0735D;
  margin: 0 0 16px 0;
}
.foods .left .title {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  margin: 10px 0 70px 0;
  height: auto;
}
.foods .left .item {
  margin: 20px 0 35px 0;
  position: relative;
}
.foods .left .item .pizza {
  width: 48px;
  height: 35px;
  margin: 0 0 15px 0;
}
.foods .left .item .description {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 0 30px;
  position: absolute;
  top: 10px;
}
.foods .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin: 0 100px 0 50px;
  font-weight: 700;
}
.foods .right .item {
  position: relative;
}
.foods .right .item .description {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 10px 0;
}
.foods .right .item .price {
  color: #F0735D;
  display: inline-block;
  margin: 0;
  font-weight: 700;
}
.foods .right .item .stars {
  width: 90px;
  position: absolute;
  top: 15.3rem;
  left: 3.5rem;
}

.our_story {
  height: 85vh;
  display: flex;
}
.our_story .left {
  width: 50%;
  position: relative;
}
.our_story .left .story-img {
  position: absolute;
  top: 5rem;
  left: 9rem;
}
.our_story .right {
  width: 50%;
  padding: 0 6rem 0 0;
  margin: 0;
  position: relative;
}
.our_story .right .story-wrapper {
  position: absolute;
  top: 7rem;
  margin: 0 90px 0 10px;
}
.our_story .right .story-wrapper .story-title {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}
.our_story .right .story-wrapper .story-desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.6px;
  color: #000000;
  margin: 0 31px 0 0;
}
.our_story .right .story-wrapper .btn {
  font-family: "Open Sans", sans-serif;
  padding: 14px 25px 14px 25px;
  margin: 50px 0 0 0;
}
.our_story .right .story-wrapper .btn {
  font-weight: 600;
  background-color: #F0735D;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.our_story .right .story-wrapper .btn:hover {
  background-color: #fff;
  color: #F0735D;
  border: 2px solid #F0735D;
  transform: scale(2px);
}

.our-recipes {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-recipes .desc {
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: #F0735D;
  margin: 0 0 16px 0;
}
.our-recipes .title {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  margin: 10px 0 70px 0;
  height: auto;
}
.our-recipes .recipes-wrapper {
  display: flex;
  flex-direction: row;
}
.our-recipes .recipes-wrapper .item {
  margin: 30px;
  position: relative;
}
.our-recipes .recipes-wrapper .item .recipes-img {
  width: 20rem;
}
.our-recipes .recipes-wrapper .item .recipes-description {
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}
.our-recipes .recipes-wrapper .item .price {
  color: #F0735D;
  display: inline-block;
  margin: 0;
  font-weight: 700;
}
.our-recipes .recipes-wrapper .item .stars {
  width: 90px;
  position: absolute;
  top: 20rem;
  left: 3.5rem;
}
.our-recipes .recipes-wrapper .item .btn {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  padding: 9px 21px;
  margin: 20px 0 0 0;
}
.our-recipes .recipes-wrapper .item .btn {
  font-weight: 600;
  background-color: #F0735D;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.our-recipes .recipes-wrapper .item .btn:hover {
  background-color: #fff;
  color: #F0735D;
  border: 2px solid #F0735D;
  transform: scale(2px);
}
.our-recipes .btn {
  padding: 15px 30px;
  font-size: 16px;
  margin: 60px 0 20px 0;
}
.our-recipes .btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50px;
  color: #F0735D;
  border: 2px solid #F0735D;
  transition: all 0.5s;
}
.our-recipes .btn:hover {
  transform: scale(1.1);
}

.review {
  height: 85vh;
  display: flex;
  position: relative;
}
.review .review-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 130px;
  justify-content: center;
}
.review .review-wrapper .review-desc {
  width: 95%;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.4px;
}
.review .review-wrapper .caption {
  display: flex;
  margin: 10px 0 0 0;
}
.review .review-wrapper .caption .woman {
  width: 78px;
  height: 78px;
  margin: 0 20px 0 0;
}
.review .review-wrapper .caption .name {
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  margin: 15px 0 8px 0;
}
.review .review-wrapper .caption .desc {
  color: #808398;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 400;
}
.review .breakfast {
  width: 50%;
}
.review .salad {
  position: absolute;
  bottom: -9rem;
  left: -7.8rem;
}

.footer {
  width: 100%;
  height: 60vh;
  display: flex;
  padding: 50px 0 0 0;
  position: relative;
  overflow: hidden;
}
.footer .right-col {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .right-col .wrapper {
  margin: 0;
  width: 40%;
}
.footer .right-col .wrapper .desc {
  color: #808398;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.footer .right-col .social-group {
  margin: 50px 0 0 0;
}
.footer .right-col .social-group .link {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 4px 7px;
  margin: 7px;
  transition: 0.2s ease-in-out;
}
.footer .right-col .social-group .link:hover {
  color: #fff;
  background-color: #000000;
}
.footer .centered-col {
  width: 20%;
}
.footer .centered-col .list {
  list-style-type: none;
  text-transform: capitalize;
  font-size: 17px;
}
.footer .centered-col .list .title {
  color: #000000;
  font-weight: 600;
}
.footer .centered-col .list li {
  margin: 0 0 30px 0;
}
.footer .centered-col .list li .item {
  text-decoration: none;
  color: #808398;
}
.footer .left-col {
  width: 20%;
}
.footer .left-col .list {
  list-style-type: none;
  text-transform: capitalize;
  font-size: 17px;
}
.footer .left-col .list .title {
  color: #000000;
  font-weight: 600;
}
.footer .left-col .list li {
  margin: 0 0 30px 0;
}
.footer .left-col .list li .item {
  text-decoration: none;
  color: #808398;
}
.footer .footer-img {
  position: absolute;
  right: -11rem;
  bottom: -10.5rem;
}

/*# sourceMappingURL=style.css.map */
